@MainColorBackground: #ffffff;
@MainColorText: #97999e;
@LogoColor: #44c0c2;
@HoverColor: #49cbcd;
@PlanColor: #788492;
@TeamEllipseColor: #eeeef0;
@Navigationffcolor: #484c55;
@BannerColorff: @MainColorBackground;
@Teamnamecolorff: #4e525d;

@headersize : 100px;

#mainff(){
	font-family: 'open_sansregular', sans-serif;
}

#captionff(){
	font-family: 'open_sanssemibold', sans-serif;
}

#logoff(){
	font-family: 'lobsterregular'; 
}

.container {
	width: 100%;
}


@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('..fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {

	
  body {
    #wrapper_container_fluid;
		color: @MainColorText;
  	background: @MainColorBackground;
		#mainff();
  
		*{
			box-sizing: border-box;
		}
		
		.absolute {
			position: absolute;
		}
	
		.relative {
			position: relative;
		}
		
		#mainff(){
			font-family: 'open_sansregular', sans-serif;
		}

		#captionff(){
			font-family: 'open_sanssemibold', sans-serif;
		}

		#logoff(){
			font-family: 'lobsterregular'; 
		}

		.container {
			width: 100%;
		}	
	
		#wrapper_container {
			max-width: 1170px;
			margin: 0 auto;
		}

		#wrapper_container_fluid {
			max-width: 1440px;
			margin: 0 auto;
		}
		
    img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		
		.wrapper {
			width: 100%;
			#wrapper_container_fluid;
			header {
				#wrapper_container;
				min-height: 100px;
				width: 100%;
				overflow: hidden;
				.logo {
					float: left;
					span{
						font-size: 43px;
						line-height: @headersize;
						#logoff();
						color: @LogoColor;
					}
				}
				.navigation {
					min-height: 100px;
					float: right;
					ul{
						display: flex;
						flex-wrap: nowrap;
						justify-content: center;
						margin: auto;
						li {
							margin: 0 0 0 8px;
							list-style: none;
							text-align: center;
							width: 85px;
							&:hover {
								border-bottom: 3px solid @HoverColor;
								a {
									color: @HoverColor;
								}
							}
							a {
								color: @Navigationffcolor;
								line-height: @headersize - 3px;
								font-size: 15px;
								font-weight: 500;
								text-decoration: none;
							}
						}
					}
				}
			}
			.container{
				#wrapper_container_fluid;
				.slider{
					.slick-slide{
						.relative;
						.text {
							color: @BannerColorff;
							.absolute;
							top: 18%;
							right: 0;
							left: 0;
							bottom: 0;
							text-align: center;
							z-index: 10;
							h1 {
								#captionff();
								font-size: 63px;
								margin: 0;
							}
							p {
								#mainff();
								font-size: 23px;
								line-height: 38px;
								font-weight: 100px;
								margin: 3.5% 0 4.2%;
							}
							a {
								#captionff();
								font-size: 26px;
								color: @BannerColorff;
								text-decoration: none;
								padding: 0.85% 1.1%;
								border: 3px @BannerColorff solid;
								border-radius: 5px;
								&:hover {
									color: @HoverColor;
									border: 3px @HoverColor solid;
								}
							}
						}	
					}
					.slick-prev {
						min-width: 50px;
						min-height: 50px;
						border-radius: 50px;
						background: @MainColorBackground;
						color: @MainColorBackground;
						&:before {
							margin-left: -3px;
							background:  url(../images/slick-prev.png) no-repeat 48% 50%;
							content: 'arrow';
						}
					}
					.slick-next {
						.slick-prev;
						&:before {
							content: ' arrow';
							background:  url(../images/slick-next.png) no-repeat 52% 50%;
						}
					}
				}	
				.team-container {
					#wrapper_container;
					width: 100%;
					color:@Teamnamecolorff;
					.caption {
						margin: 0;
						font-size: 42px;
						line-height: 240px;
						text-align: center;
					}
					.team-block{
						float: left;
						width: 25%;
						display: flex;
						flex-direction: column;
						align-items: center;
						.circle{
							max-height: 200px;
							max-width: 200px;
							border-radius: 200px;
							margin-bottom: 50px;
							
						}
						.name {
							font-size: 22px;
							margin: 0;
						}
						.prefission {
							font-size: 14px;
							font-weight: 950;
							margin: 0;
							padding: 0;
						}
						.biografy{
							font-size: 14px;
							font-weight: 950;
							line-height: 30px;
							text-align: center;
						}
					}
				}
			}
    }
  }
}
