@font-face {
  font-family: 'lobsterregular';
  src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'), url('../fonts/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanssemibold';
  src: url('..fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansextrabold';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icons/icomoon.eot?y2ri5h');
  src: url('../fonts/icons/icomoon.eot?y2ri5h#iefix') format('embedded-opentype'), url('../fonts/icons/icomoon.ttf?y2ri5h') format('truetype'), url('../fonts/icons/icomoon.woff?y2ri5h') format('woff'), url('../fonts/icons/icomoon.svg?y2ri5h#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.absolute {
  position: absolute;
}
body {
  margin: 0;
}
.container {
  width: 100%;
}
.fixed {
  display: block !important;
  position: fixed;
  opacity: 1;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}
.hover {
  background: #49cbcd !important;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.relative {
  position: relative;
}
#wrapper-container {
  max-width: 1170px;
  margin: 0 auto;
}
#wrapper-container-fluid {
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  color: #97999e;
  background: #ffffff;
  font-family: 'open_sansregular', sans-serif;
}
.wrapper * {
  box-sizing: border-box;
}
.header {
  min-height: 100px;
  width: 100%;
  overflow: hidden;
}
.header.headhesive {
  background: #ffffff;
  display: none;
}
.header .header-block {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.logo {
  float: left;
}
.logo span {
  font-size: 43px;
  line-height: 100px;
  font-family: 'lobsterregular', sans-serif;
  color: #44c0c2;
}
.navigation {
  min-height: 100px;
  float: right;
}
.navigation ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
}
.navigation ul li {
  margin: 0 0 0 8px;
  list-style: none;
  text-align: center;
  width: 85px;
}
.navigation ul li:hover {
  border-bottom: 3px solid #49cbcd;
}
.navigation ul li:hover a {
  color: #49cbcd;
}
.navigation ul li a {
  color: #484c55;
  line-height: 97px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.slider .slick-slide {
  position: relative;
}
.slider .slick-slide .text {
  color: #ffffff;
  position: absolute;
  top: 18%;
  right: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  z-index: 10;
}
.slider .slick-slide .text h1 {
  font-family: 'open_sanssemibold', sans-serif;
  font-size: 63px;
  margin: 0;
}
.slider .slick-slide .text p {
  font-family: 'open_sansregular', sans-serif;
  font-size: 23px;
  line-height: 38px;
  font-weight: 100px;
  margin: 3.5% 0 4.2%;
}
.slider .slick-slide .text a {
  font-family: 'open_sanssemibold', sans-serif;
  font-size: 26px;
  color: #ffffff;
  text-decoration: none;
  padding: 0.85% 1.1%;
  border: 3px #ffffff solid;
  border-radius: 5px;
}
.slider .slick-slide .text a:hover {
  color: #49cbcd;
  border: 3px #49cbcd solid;
}
.slider .slick-prev {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #49cbcd;
  font-family: 'icomoon' !important;
}
.slider .slick-prev:before {
  color: #49cbcd;
  font-family: 'icomoon' !important;
  margin-left: -3px;
  content: "\70";
  z-index: 10;
}
.slider .slick-next {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background: #ffffff;
  color: #49cbcd;
  font-family: 'icomoon' !important;
}
.slider .slick-next:before {
  color: #49cbcd;
  font-family: 'icomoon' !important;
  margin-left: 0;
  content: "\6e";
  z-index: 10;
}
.team-container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  color: #4e525d;
}
.team-container .caption {
  margin: 0;
  font-size: 42px;
  line-height: 240px;
  text-align: center;
}
.team-container .team-block {
  float: left;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.circle {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  margin-bottom: 50px;
}
.circle .hover-item {
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
}
.circle .hover-item:hover span {
  opacity: 1;
}
.circle .hover-item span {
  opacity: 0;
  font-family: 'open_sansextrabold', sans-serif;
  font-size: 85px;
  align-self: center;
  margin: 0 auto;
  padding: 0;
  line-height: 85px;
  color: #f46d6d;
}
.name {
  font-size: 22px;
  margin: 0;
}
.prefission {
  font-size: 14px;
  font-weight: 950;
  margin: 0;
  padding: 0;
}
.biografy {
  font-size: 14px;
  font-weight: 950;
  line-height: 30px;
  text-align: center;
}
.service-container-bg {
  background: #f1f1f1;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.service-container-bg .service-container {
  overflow: hidden;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.service-block-wrapper {
  float: left;
  margin: 120px 0 100px;
  width: 33.3333%;
  padding: 0 10px;
}
.service-block-wrapper:first-child {
  padding-left: 0px;
  padding-right: 20px;
}
.service-block-wrapper:last-child {
  padding-right: 0px;
  padding-left: 20px;
}
.service {
  border: 1px solid #ecf0f1;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}
.service li {
  color: #8c9299;
  background: #ffffff;
  border-bottom: 1px solid #ecf0f1;
  font-size: 14px;
  list-style: none;
  line-height: 45px;
}
.service li:nth-child(1) {
  background: #485460;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  color: #ffffff;
  font-size: 26px;
  line-height: 76px;
}
.service li:nth-child(2) {
  background: #f8f9fb;
  font-size: 20px;
  line-height: 68px;
}
.service li:last-child {
  border: none;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  line-height: 100px;
}
.service li button {
  background: #788492;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  font-family: 'open_sanssemibold', sans-serif;
  font-size: 17px;
  line-height: 40px;
  width: 45%;
}
.service li button:hover {
  background: #49cbcd;
}
footer {
  background-attachment: fixed;
  background-image: url('../images/footer-bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 100%;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
footer .footer-wrapper {
  overflow: hidden;
  margin: 0;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.caption {
  color: #ffffff;
  margin: 0;
  font-size: 42px;
  font-weight: 500;
  line-height: 240px;
  overflow: hidden;
  text-align: center;
}
.footer-block {
  float: left;
  width: 50%;
  margin-bottom: 5%;
}
.footer-block h3 {
  color: #ffffff;
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
}
.footer-block p {
  padding-right: 25%;
  margin: 0;
  font-size: 14px;
  line-height: 21px;
}
.social {
  display: inline-flex;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
.social li {
  align-items: center;
  display: flex;
  margin-right: 13px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
}
.social li:nth-child(1) {
  background: #3b5997;
}
.social li:nth-child(2) {
  background: #3ec2f3;
}
.social li:nth-child(3) {
  background: #e44c41;
}
.social li a {
  color: #ffffff;
  text-decoration: none;
  width: 100%;
}
.social li .fa {
  margin: 0 auto;
  font-size: 24px;
}
.author-info {
  color: #bface2;
  padding: 0;
  margin: 0;
}
.author-info li {
  font-size: 14px;
  line-height: 21px;
  display: block;
}
form {
  font-family: 'open_sansregular', sans-serif;
  margin: 0;
  overflow: hidden;
  padding-left: 15px;
  width: 100%;
}
.form-field {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}
.form-field .form-field-name {
  float: left;
  margin: 0;
  overflow: hidden;
  width: 48.5%;
  padding-right: 7px;
}
.form-field .form-field-email {
  float: left;
  margin: 0;
  overflow: hidden;
  width: 48.5%;
  padding-right: 7px;
  padding-right: 0px;
  padding-left: 7px;
  margin-left: 13.3px;
}
.form-field .form-name {
  float: left;
  width: 100%;
  border-radius: 3px;
  border: none;
  line-height: 45px;
  padding-left: 20px;
}
.form-field .form-email {
  float: left;
  width: 100%;
  border-radius: 3px;
  border: none;
  line-height: 45px;
  padding-left: 20px;
}
.form-field .form-textarea {
  width: 100%;
  height: 180px;
  border-radius: 3px;
  resize: none;
  line-height: 45px;
  padding-left: 20px;
}
.form-field ::-webkit-input-placeholder {
  font-family: 'open_sansregular', sans-serif;
}
.form-field :-moz-placeholder {
  font-family: 'open_sansregular', sans-serif;
}
.form-field ::-moz-placeholder {
  font-family: 'open_sansregular', sans-serif;
}
.form-field :-ms-input-placeholder {
  font-family: 'open_sansregular', sans-serif;
}
.form-field .form-input {
  background: #49cbcd;
  float: right;
  width: 30%;
  border-radius: 3px;
  border: none;
  line-height: 50px;
}
.form-field input[value="Send"] {
  color: #ffffff;
  font-family: 'open_sansregular', sans-serif;
  font-size: 22px;
}
