.container {
  width: 100%;
}
@font-face {
  font-family: 'lobsterregular';
  src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'), url('../fonts/lobster-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'), url('../fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sanslight';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html {
  color: #97999e;
  width: 100%;
  background: #ffffff;
  font-family: 'open_sansregular', sans-serif;
}
html body {
  margin: 0 auto;
  max-width: 1440px;
}
html body .wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}
html body .wrapper header {
  min-height: 100px;
  width: 100%;
}
html body .wrapper header .logo {
  float: left;
}
html body .wrapper header .logo span {
  font-size: 43px;
  line-height: 100px;
  font-family: 'lobsterregular';
  color: #44c0c2;
}
html body .wrapper header .navigation {
  min-height: 100px;
  float: right;
}
html body .wrapper header .navigation ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: auto;
}
html body .wrapper header .navigation ul li {
  margin: 0 0 0 8px;
  list-style: none;
  text-align: center;
  width: 85px;
}
html body .wrapper header .navigation ul li:hover {
  border-bottom: 3px solid #49cbcd;
}
html body .wrapper header .navigation ul li:hover a {
  color: #49cbcd;
}
html body .wrapper header .navigation ul li a {
  color: #484c55;
  line-height: 100px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}
