@MainColorBackground: #ffffff;
@MainColorText: #97999e;
@LogoColor: #44c0c2;
@HoverColor: #49cbcd;
@PlanColor: #788492;
@TeamEllipseColor: #eeeef0;
@Navigationffcolor: #484c55;

@headersize : 100px;

#mainff(){
	font-family: 'open_sansregular', sans-serif;
}

#logoff(){
	font-family: 'lobsterregular'; 
}

.container {
	width: 100%;
}


@font-face {
    font-family: 'lobsterregular';
    src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'),
         url('../fonts/lobster-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansitalic';
    src: url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
  color: @MainColorText;
  background: @MainColorBackground;
	#mainff();
  
	*{
		box-sizing: border-box;
	}
	
	#wrapper_container {
		max-width: 1170px;
		margin: 0 auto;
	}

	#wrapper_container_fluid {
		max-width: 1440px;
		margin: 0 auto;
	}
	
  body {
    #wrapper_container_fluid;
    
		img {
			width: 100%;
			max-width: 100%;
			height: auto;
		}
		
    .wrapper {
			width: 100%;
			#wrapper_container_fluid;
			
			header {
				#wrapper_container;
				min-height: 100px;
				width: 100%;
				overflow: hidden;
				
				.logo {
					float: left;
					
					span{
						font-size: 43px;
						line-height: @headersize;
						#logoff();
						color: @LogoColor;
					}
				}
				
				.navigation {
					min-height: 100px;
					float: right;
					
					ul{
						display: flex;
						flex-wrap: nowrap;
						justify-content: center;
						margin: auto;
						
						li {
							margin: 0 0 0 8px;
							list-style: none;
							text-align: center;
							width: 85px;
							
							&:hover {
								border-bottom: 3px solid @HoverColor;
								
								a {
									color: @HoverColor;
								}
							}
							
							a {
								color: @Navigationffcolor;
								line-height: @headersize - 3px;
								font-size: 15px;
								font-weight: 500;
								text-decoration: none;
							}
						}
					}
				}
			}
			.container{
				#wrapper_container_fluid;
				
			}
    }
  }
}
